<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">

<div class="controls-container">
  <div *ngFor="let category of ['morning', 'afternoon', 'night']" class="controls-col">
    <i class="{{ milestones[category].icon }}"></i> {{ category }}
    <div *ngFor="let milestone of milestones[category].events" class="control {{ milestone.status }}"
          (click)="updateMilestone(milestone)">
      <i class="{{ milestone.icon }}"></i>
      {{ milestone.text }}
    </div>
  </div>
</div>